body {
  background-color: lightblue;
  text-align: center;
  font-family: 'Lobster', cursive;
}

h2 {
  font-size: 60px;
}
h3{
  font-size: 40px;
}
p {
  font-size: 35px;
  color: red;
}

a{
  font-size: 30px;
  color: white;
}
img{
  max-width: 600px;
  max-height: 200px;
}
