<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beaches in australia</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Best Beaches Of Australia</h1>


<%= yield %>

    <hr>
    &copy;2018

  </body>
</html>
