<h2>Add a new beach</h2>
<hr>
<form  action="/beaches" method="post">
  Beach Name: <input type="text" name="beach_name"><br>
  <br>

Location: <input type="text" name="location"><br>
  <br>
  Image URL: <input type="text" name="image_url"><br>
  <br>
  Description: <input type="text" name="description"><br>
  <br>
Reviews: <input type="text" name="reviews"><br>
  <br>
  likes: <input type="text" name="likes" ><br>
  <br>

  <button>Save Beach</button>


</form>



</form>
