<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book DB</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Round Boys Book DB</h1>
    <!-- <img src="https://pbs.twimg.com/media/DS1ku7XUQAEcoiL.jpg"> -->

    <%= yield %>
  </body>
</html>
