<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Shelf</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Welcome to the world of books</h1>

    <!-- our template content -->
    <%= yield %>

  <footer>
    <hr/>
    &copyright
  </footer>
  </body>
</html>
