<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Grumpy cats of the World</title>
    <link rel="stylesheet" href="/css/cat-style.css">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Shrikhand');
    </style>
  </head>
  <body>
    <h1>Clash of the Grumps</h1>


    <%= yield %>

    <hr>
    &copy; The Net 2018
  </body>
</html>
