
<h2>Add New Cat</h2>
<hr>

<a href="/home">Go Home</a><br>
<a href="/cats">View All</a><br><br>

<form action="/cats" method="post">
First Name: <input type="text" name="first_name"><br>
<br>
Last Name: <input type="text" name="last_name"><br>
<br>
Grumpiness: <input type="text" name="grumpiness"><br>
<br>
Image URL: <input type="text" name="image_url"><br>
<br>
<br>

<button>Save Cat</button>

</form>
