<!DOCTYPE html>
<html>
  <head>
    <title>IndiaplacesDb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <img src="http://www.heartmantravelservices.com/images/headers/north-india-tour.jpg" >
    </header>
    <%= yield %>
  </body>
</html>
