* {
  margin: 0 auto;
  text-align: center;
}

/*@import url('https://fonts.googleapis.com/css?family=Spectral+SC');*/

.main{
  background-image: url("chalkboard.jpg");
}

h2{
  font-family: 'Spectral SC', serif;
  margin: 10px 10px;
}

nav li{
  display: inline-block;
  padding: 15px;
  /*font-family: 'Orbitron', sans-serif;*/
}

header{
    background-color:#2f4f4f;
}
 header a{
   color: white;
 }

article{
  width: 75%;
  font-family: 'Barlow', sans-serif;

}

.articles{
  width: 200px;
  height: 200px;
  border-radius: 43%;
  padding: 15px;
  display: inline-block;
  opacity: 0.8;
}
 article h2 h4{
     padding: 20px 20px;
     background-color: lightyellow;
     margin:20px 20px;
 }

 footer{
   background-color:#2f4f4f;
   height: 40px;
   text-align: center;
   color: white;

 }

article p{
  width: 80%;
}

h3{
  margin: 15px 15px;
}

marquee img{
  opacity: 0.7;

}
