<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AMAZON</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Find Your Book with AMAZON</h1>

    <%= yield %>

    <footer>
      <hr/>
      &copy; 2018 - AMAZON
    </footer>
  </body>
</html>
