<img src="http://fsolano.com/guess-pic.jpeg">
<h2>You guessed <%= @x %></h2>
<h3>Random number generated is <%= @random %></h3>

<% if @x == @random %>
 <p>Your Guessed right</p>
<% else %>
 <p>You Guessed wrong</p>
<% end %>
