<h1>Add new Mountain</h1>

<form action="/mountains" method="post">
  Name: <input type="text" name="name"><br>
  Location: <input type="text" name="location"><br>
  Size: <input type="text" name="size"><br>
  Image: <input type="text" name="image"><br>
  <br>

  <button>Save</button>

</form>
