
<h2>Add New Cat</h2>
<hr>

<a href="/home">Go Home</a><br>
<a href="/cats">View All</a><br><br>

<form action="/cats" method="post">
Name: <input type="text" name="name"><br>
<br>
Evilness: <input type="text" name="evilness"><br>
<br>
Description: <input type="text" name="description"><br>
<br>
Victims: <input type="text" name="victims"><br>
<br>
Image URL: <input type="text" name="image_url"><br>
<br>
<br>

<button>Save Cat</button>

</form>
