
<h2>Add New Doggo</h2>
<hr>

<a href="/home">Go Home</a><br>
<a href="/doggos">View All</a><br><br>

<form action="/doggos" method="post">
Name: <input type="text" name="name"><br>
<br>
Description: <input type="text" name="description"><br>
<br>
Favorite Game: <input type="text" name="game"><br>
<br>
Image URL: <input type="text" name="image_url"><br>
<br>
Cat Fren: <input type="text" name="cat_id"><br>
<br>
<br>

<button>Save Doggo</button>

</form>
