<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Grumpy cats of the World & Good Boy Doggos</title>
    <link rel="stylesheet" href="/css/cat-style.css">

    <style>
      @import url('https://fonts.googleapis.com/css?family=Shrikhand');
    </style>
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/jquery.funtext.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <h1>Super-Domesticated-Pet-Deathmatch</h1><br><br>
    <audio id="jungle" src="/audio/Jungle.mp3" loop="loop"></audio>

    <%= yield %>

    <hr>
    &copy; The Net 2018

  </body>
</html>
