html {
  /* background: url("https://media.giphy.com/media/o1MKzb5yLMN1e/giphy.gif") */
  /* background: url("https://media.giphy.com/media/Y7l6oTRsxCC1a/giphy.gif") */
  background: url("https://media.giphy.com/media/x0IhASKq7btOo/giphy.gif")
  /* background: url("https://media.giphy.com/media/FyGHRHcD3RzCo/giphy.gif") */
  no-repeat center left fixed;
  /*background: url() no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  /* font-family: 'Shrikhand', cursive; */
  font-size: 100%;
}

body{

  /* font-family: 'Lucinda', 'sans-serif'; */
  color: orangered;
  font-family: 'Shrikhand', 'cursive';
}

img{
  border: 2px solid white;
  border-radius: 40%;
  width: 50%;
  height: 50%;
}

h1,h2{
  text-align: center;
}

a{
  color: lightgreen: ;
}
