<h1>Welcome to Games on Rails</h1>

<h3>Please select a game; </h3>
<ul>
  <a href="/magic8"><li>Magic 8 Ball</li></a>
  <a href ="/secret"><li>Secret Number</li></a>
  <li>Rock, Paper, Scissors</li>
</ul>
