<div class='row'>
  <div>
    <p class="text">
     Are you 100% sure?
    </p>
  </div>
</div>

<div class='row'>
  <ul class="buttons">
    <li>
      <a class="yes btn-large btn-success" href="/success">Yes</a>
      <a class="no btn-large btn-danger" href="/write_test">No</a></li>
  </ul>
</div>
