<div class='row'>
  <div>
    <p class="text">
      And you are not cheating?
    </p>
  </div>
</div>

<div class='row'>
  <ul class="buttons">
    <li>
      <a class="yes btn-large btn-success" href="/pass-2">Yes</a>
      <a class="no btn-large btn-danger" href="/write_test">No</a></li>
  </ul>
</div>
