<div class='row'>
  <div>
    <p class="text">
     YAY!
    </p>
  </div>
</div>

<div class='row' style="padding-top:20px;">
  <iframe src="https://giphy.com/embed/Hd3GXtH7xs1CU" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/my-fav-i-am-not-ashamed-ill-fight-all-you-Hd3GXtH7xs1CU">via GIPHY</a></p>
</div>
