<div class='row'>
  <div>
    <p class="text">
     Well looks like you're not going anywhere
    </p>
  </div>
</div>

<div class='row' style="padding-top:20px;">
<iframe src="https://giphy.com/embed/12WjSnRGVC79EA" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/fail-epic-absurd-12WjSnRGVC79EA">via GIPHY</a></p>
</div>
