<h2>Add New Award</h2>
<hr>
<form action="/awards" method="post">
Name: <input type="text" name="name"><br>
description: <input type="text" name="description"><br>
Image URL: <input type="text" name="image_url"><br>
Student ID: <input type="text" name="student_id"><br>

  <button>Save Changes</button>
</form>
