<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Information List</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>


    <!-- get the output of the sinatra block for this URL and place it here, i.e our template for a specific page -->
    <%= yield %>

    <hr>
    &copy;2018
  </body>
</html>
