<h2>Add New Student</h2>
<hr>
<form action="/students" method="post">
First Name: <input type="text" name="first_name"><br>
Last Name: <input type="text" name="last_name"><br>
Place: <input type="text" name="place"><br>
Image URL: <input type="text" name="image_url"><br>
Age: <input type="text" name="age"><br>


  <button>Save Changes</button>
</form>
